---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

/* To Center Images */
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
